### import the Data for student that in Excel file inside 


---

In [87]:
import pandas as pd
#software library developed in Python language for data processing and analysis

In [88]:
#Read the Excel file and store the data in a DataFrame
data = pd.read_csv('/content/final.csv')

In [89]:
#define the student data as that data DataFrame.
student_data = pd.DataFrame(data)

In [90]:
student_data

    Unnamed: 0  student id student Name                       Course
0            0          41    Alexander                    coumputer
1            1          87       Amelia  User Experience (UX) Design
2            2         791          Amr                    Marketing
3            3         275         Eman             Entrepreneurship
4            4          28        Emily           English Literature
5            5          65         Emma         Software Engineering
6            6         926        Farid         Broadcast Journalism
7            7         492       Farida                    Marketing
8            8         198      Ghassan                 3D Animation
9            9         599       Hadeel                 3D Animation
10          10         365        Hamza       Information Technology
11          11         176         Hoda             Entrepreneurship
12          12         472       Hossam    Human Resource Management
13          13          34         Jane                  Mathematics
14          14          76         John             Computer Science
15          15          75       Khalil                   E-Commerce
16          16         267        Leila      Supply Chain Management
17          17         385       Marwan                  Advertising
18          18         254         Mona         Broadcast Journalism
19          19         167        Nabil               Graphic Design
20          20         138         Nada             Computer Science
21          21         945        Nidal      Business Administration
22          22         164         Noah             Machine Learning
23          23          18         Omar                    Marketing
24          24         672        Osama              Film Production
25          25         942         Rola            Sound Engineering
26          26         374        Samir             Print Journalism
27          27         687       Samira              Motion Graphics
28          28         112        Sarah                    Economics
29          29         246       Sherif               Urban Planning
30          30          94       Sophia                     Big Data
31          31         256         Wael             Video Production
32          32         145        Walaa                Cybersecurity
33          33         458       Yasmin       User Experience Design
34          34         345  abdelfattah           Mining Engineering
35          35         100         abdo                        media
36          36         100         abdo                        media
37          37         100         abdo                        media
38          38           5        ahmed           Petrol Engineering
39          39          95         amin             Computer Science
40          40           6        feras           medical technology
41          41           4         fizo       electronic Engineering
42          42           1         himo         Software Engineering
43          43          32        lucas          Nuclear Engineering
44          44          67       maryam                      nursing
45          45         145         mia                      markting
46          46         149      mostafa            project mangment
47          47           7         saif                      Physics
48          48         648          sam        Materials Engineering
49          49          26         sana                   Accounting
50          50          45        sofia               cyber security
51          51          23        talal              computer scince
52          52           3         zaid          Nuclear engineering

**change the Data frame to be list**

In [91]:
          #start to change it to list and define that list 
st_list = [(row['student id'], row['student Name'], row['Course']) 
for index, row in student_data.iterrows()]

In [92]:
st_list

[(41, 'Alexander', 'coumputer'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering')]

**start to check the list and add one student before the sorting**

In [93]:
st_list.append((100,'abdo','media'))
st_list

[(41, 'Alexander', 'coumputer'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering'),
 (100, 'abdo', 'media')]

### **Use the bubble sort Algoritm To sort students according to their ID from smallest to largest**

---

In [94]:
def bubble_sort(data):
    # Loop through the entire list
    for i in range(len(data) - 1):
        # Loop through the list, except for the already sorted elements at end
        for j in range(len(data) - 1 - i):
            # If the current element is greater than next element, swap them
            if data[j] > data[j + 1]:
                data[j], data[j + 1] = data[j + 1], data[j]

In [95]:
           #sort the list that we have
bubble_sort(st_list)

In [96]:
st_list

[(1, 'himo', 'Software Engineering'),
 (3, 'zaid', 'Nuclear engineering'),
 (4, 'fizo', 'electronic Engineering'),
 (5, 'ahmed', 'Petrol Engineering'),
 (6, 'feras', 'medical technology'),
 (7, 'saif', 'Physics'),
 (18, 'Omar', 'Marketing'),
 (23, 'talal', 'computer scince'),
 (26, 'sana', 'Accounting'),
 (28, 'Emily', 'English Literature'),
 (32, 'lucas', 'Nuclear Engineering'),
 (34, 'Jane', 'Mathematics'),
 (41, 'Alexander', 'coumputer'),
 (45, 'sofia', 'cyber security'),
 (65, 'Emma', 'Software Engineering'),
 (67, 'maryam', 'nursing'),
 (75, 'Khalil', 'E-Commerce'),
 (76, 'John', 'Computer Science'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (94, 'Sophia', 'Big Data'),
 (95, 'amin', 'Computer Science'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (112, 'Sarah', 'Economics'),
 (138, 'Nada', 'Computer Science'),
 (145, 'Walaa', 'Cybersecurity'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (164, 'Noah', 'Machine Learning'),
 (167, 'Nabil', 'Graphic Design'),
 (176, 'Hoda', 'Entrepreneurship'),
 (198, 'Ghassan', '3D Animation'),
 (246, 'Sherif', 'Urban Planning'),
 (254, 'Mona', 'Broadcast Journalism'),
 (256, 'Wael', 'Video Production'),
 (267, 'Leila', 'Supply Chain Management'),
 (275, 'Eman', 'Entrepreneurship'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (365, 'Hamza', 'Information Technology'),
 (374, 'Samir', 'Print Journalism'),
 (385, 'Marwan', 'Advertising'),
 (458, 'Yasmin', 'User Experience Design'),
 (472, 'Hossam', 'Human Resource Management'),
 (492, 'Farida', 'Marketing'),
 (599, 'Hadeel', '3D Animation'),
 (648, 'sam', 'Materials Engineering'),
 (672, 'Osama', 'Film Production'),
 (687, 'Samira', 'Motion Graphics'),
 (791, 'Amr', 'Marketing'),
 (926, 'Farid', 'Broadcast Journalism'),
 (942, 'Rola', 'Sound Engineering'),
 (945, 'Nidal', 'Business Administration')]

**use linear search algorithm to search with name or ID for student**

In [97]:
# linear search algorithm

def linearsearch(array, finding):

# (array) is the array that I would like to search in it
# (finding) is the target value that I want to search for it in the list

    for i in range(len(array)):



        if array[i][0] == finding:

            return i
            
    return ('Not in the list')

In [98]:
linearsearch(st_list,'amin')

'Not in the list'

### **Here, the binary search is define in order for the students ID**

In [99]:
def binarySearch(arr, l, r, x):
 
    # Check base case
    if r >= l:
 
        mid = (l + (r)) // 2
 
        # If element is present at the middle itself
        if arr[mid][0] == x:
            return mid
 
        # If element is smaller than mid, then it
        # can only be present in left subarray
        elif arr[mid][0] > x:
            return binarySearch(arr, l, mid-1, x)
 
        # Else the element can only be present
        # in right subarray
        else:
            return binarySearch(arr, mid + 1, r, x)
 
    else:
        # Element is not present in the array
        return ('Not in the list')

In [100]:
binarySearch(st_list,0,len(st_list)-1, 5 )

3


**bubble sort to make a search with name **

In [101]:
def bubble_sort(data):
    # Loop through the entire list
    for i in range(len(data) - 1):
        # Loop through the list, except for the already sorted elements at end
        for j in range(len(data) - 1 - i):
            # If the current element is greater than next element, swap them
            if data[j][1] > data[j + 1][1]:
                data[j], data[j + 1] = data[j + 1], data[j]

In [102]:
 #sort the list that we have
bubble_sort(st_list)

In [103]:
st_list

[(41, 'Alexander', 'coumputer'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering')]

**bianry search with name**

In [104]:
def binarySearch(arr, l, r, x):
 
    # Check base case
    if r >= l:
 
        mid = (l + (r)) // 2
 
        # If element is present at the middle itself
        if arr[mid][1] == x:
            return mid
 
        # If element is smaller than mid, then it
        # can only be present in left subarray
        elif arr[mid][1] > x:
            return binarySearch(arr, l, mid-1, x)
 
        # Else the element can only be present
        # in right subarray
        else:
            return binarySearch(arr, mid + 1, r, x)
 
    else:
        # Element is not present in the array
        return -1

In [105]:
binarySearch(st_list,0,len(st_list)-1,'himo' )

43

**UPDATE information inside the List**

In [106]:
def update_student(st_list, id, name, course):
    # Loop through each student in the list
    for i, student in enumerate(st_list):
        # Check if the student's ID matches the provided ID
        if st_list[i][0] == id:
            # Update the student's information
            st_list[i] = ((id, name, course))
            # Break the loop as we have found the student
            break
    # Return the updated list of students
    return st_list

In [107]:
updated_students= update_student(st_list,41,'Alexander','coumputer')

In [108]:
st_list

[(41, 'Alexander', 'coumputer'),
 (87, 'Amelia', 'User Experience (UX) Design'),
 (791, 'Amr', 'Marketing'),
 (275, 'Eman', 'Entrepreneurship'),
 (28, 'Emily', 'English Literature'),
 (65, 'Emma', 'Software Engineering'),
 (926, 'Farid', 'Broadcast Journalism'),
 (492, 'Farida', 'Marketing'),
 (198, 'Ghassan', '3D Animation'),
 (599, 'Hadeel', '3D Animation'),
 (365, 'Hamza', 'Information Technology'),
 (176, 'Hoda', 'Entrepreneurship'),
 (472, 'Hossam', 'Human Resource Management'),
 (34, 'Jane', 'Mathematics'),
 (76, 'John', 'Computer Science'),
 (75, 'Khalil', 'E-Commerce'),
 (267, 'Leila', 'Supply Chain Management'),
 (385, 'Marwan', 'Advertising'),
 (254, 'Mona', 'Broadcast Journalism'),
 (167, 'Nabil', 'Graphic Design'),
 (138, 'Nada', 'Computer Science'),
 (945, 'Nidal', 'Business Administration'),
 (164, 'Noah', 'Machine Learning'),
 (18, 'Omar', 'Marketing'),
 (672, 'Osama', 'Film Production'),
 (942, 'Rola', 'Sound Engineering'),
 (374, 'Samir', 'Print Journalism'),
 (687, 'Samira', 'Motion Graphics'),
 (112, 'Sarah', 'Economics'),
 (246, 'Sherif', 'Urban Planning'),
 (94, 'Sophia', 'Big Data'),
 (256, 'Wael', 'Video Production'),
 (145, 'Walaa', 'Cybersecurity'),
 (458, 'Yasmin', 'User Experience Design'),
 (345, 'abdelfattah', 'Mining Engineering'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (100, 'abdo', 'media'),
 (5, 'ahmed', 'Petrol Engineering'),
 (95, 'amin', 'Computer Science'),
 (6, 'feras', 'medical technology'),
 (4, 'fizo', 'electronic Engineering'),
 (1, 'himo', 'Software Engineering'),
 (32, 'lucas', 'Nuclear Engineering'),
 (67, 'maryam', 'nursing'),
 (145, 'mia ', 'markting'),
 (149, 'mostafa', 'project mangment '),
 (7, 'saif', 'Physics'),
 (648, 'sam', 'Materials Engineering'),
 (26, 'sana', 'Accounting'),
 (45, 'sofia', 'cyber security'),
 (23, 'talal', 'computer scince'),
 (3, 'zaid', 'Nuclear engineering')]

**save all information in the file with all this updates**

In [109]:
# change tuples it to a data frame 
Final_list = pd.DataFrame(st_list)

In [110]:
# make column names like before 
Final_list.columns = ["student id", "student Name", "Course"]

In [111]:
# save and return new data to CSV file
Final_list.to_csv("/content/final.csv")